
html {height:100%;width:100%;overflow:hidden;}
body {margin:0; padding:0;}

#header{width:100%;height:72px;overflow:hidden;}

.logo{margin-top:20px;}
.header-inner{line-height:64px;margin:0 16px 0 24px}
.header-inner a{line-height:72px;text-decoration:none;}



#content{overflow:hidden;height:100%;width:100%;}
#container{width:100%;}
#language-selection{width:256px;}
#option-selection{width:256px;}
#map{position:absolute;z-index:0;margin-left:637px;}
#map{height:100%;}


/* Profile Page Styles */

#content-container{margin:8px auto 4px 96px;width:960px;border-radius:4px;height:100%;padding-top:8px;}

#profile{font-size:12px;width:640px;}

.profile-box{margin:16px;min-height:156px;width:100%;}
.profile-logo-box{margin:-16px 0 0 0;}
.profile-logo-box img{padding:8px;}

.profile-header{height:80px;margin:16px 16px 8px 16px;}
.profile-header .org{font-size:20px;font-weight:bold;}

.profile-header .tiny-uc{width:88px;}
.profile-header .marker{margin-right:8px;}

#social-plugins{margin-top:4px;}

.profile-content .options-box{margin-top:8px;border:1px solid gainsboro;padding: 4px;height:16px;width:128px;}



#sidebar{font-size:12px;min-width:256px;border-radius:4px;}
#sidebar .header .map-extract{width:240px;height:80px;}
#sidebar .header .map-extract{padding:8px;}
#sidebar .header img{max-width:240px;max-height:64px;padding:8px;}

#sidebar .content{margin:8px 0 4px 0;min-width:256px;overflow:hidden;}
#sidebar .content img{max-width:240px;max-height:240px;padding:8px 8px 0;}

#sidebar .footer{border:1px solid #cdcdcd;border-radius:4px;margin-top:8px;height:40px;}

#ratings-summary{width:256px;margin:0 0 16px 16px;}
#ratings-summary .percentage{font-size:20px;font-weight:bold;}

#ratings-box{margin:8px 0;}
.ratings-bar-container{height:14px;margin:1px;line-height:14px;}
.ratings-bar-inner{height:10px;border-radius:2px;}
.ratings-bar-outer{height:10px;width:172px;padding:2px}

.review-button{width:178px;text-align:center;font-family:arial;font-size:13px;font-weight:bold;cursor:pointer;letter-spacing:-1px;text-transform:none;border-radius:3px;height:24px;min-width:96px;line-height:24px;padding:2px 4px;margin:4px 4px 4px 0}

blockquote{min-height:32px;overflow:hidden;padding:8px 24px 8px 36px;border-radius:4px;margin:0 0 8px 0;}


#mini-map{margin:8px 0 4px 12px;padding:8px;border-radius:4px;}

.tab-container{padding:0 16px;}
/*.tab-content{padding:0; margin:0;}*/

.tabs{height:32px;line-height:32px;}

#image-carousel img{padding:4px;}

.thumbnail{height:56px;width:56px;padding:0 8px 0 0;}


/* Search Page Styles */


#left-sidebar1{float:left;position:absolute;width:381px;z-index:99;}
#left-sidebar2{float:left;position:absolute;width:256px;margin-left:381px;z-index:98;}
#left-sidebar3{float:left;position:absolute;width:256px;margin-left:381px;z-index:97;display:none;}


.sidebar1-header{padding:0;width:336px;}
.sidebar1-header ul{margin:0;padding:0;width:336px;}
.sidebar1-header ul{padding:0;list-style-type:none;}
.sidebar1-header li{height:32px;line-height:32px;padding:0 8px 0 24px;margin:0}

.content-header{font-weight:bold;padding:8px 0 0 24px; height:49px;min-width:222px;line-height:49px;}

.sidebar-header{padding:4px 0 4px 24px; height:49px;min-width:222px;line-height:49px;}
.sidebar-container{padding:12px 0;margin:0;}

.sidebar-navigation ul li{font-weight:bold;font-size:1em;display:block;height:32px;line-height:32px;padding:0 8px 0 20px;opacity:0.5;cursor:pointer;}
.sidebar-navigation ul li.selected{display:block;line-height:32px;font-weight:bold;opacity:1;}

.sidebar-navigation ul{list-style-type:none;padding:0;margin:0;width:212px;}
.sidebar-navigation ul li{display:block;border:1px solid #fefefe;}
.sidebar-navigation ul li:hover{background:gainsboro;cursor:pointer;}
.sidebar-navigation ul li.seperator{background:gainsboro;height:4px;margin:8px;}


#left-sidebar2 ul li{font-size:1em;display:block;height:32px;line-height:32px;padding:0 8px 0 20px;opacity:0.5;cursor:pointer;}
#left-sidebar2 ul li.selected{display:block;line-height:32px;font-weight:bold;opacity:1;}

#left-sidebar2 ul{list-style-type:none;padding:0;margin:0;width:212px;}
#left-sidebar2 ul li{display:block;border:1px solid #fefefe;}
#left-sidebar2 ul li:hover{background:gainsboro;cursor:pointer;font-weight:bold;}
#left-sidebar2 ul li.seperator{background:gainsboro;height:4px;margin:8px;}




#map_canvas{height:100%;width:100%;}

#footer{float:right;width:100%;border-top:1px solid gainsboro;height:39px;line-height:39px;color:white;z-index:100;}
#footer ul{list-style-type:none;padding:0;}
#footer ul li{font-size:12px;line-height:13px;}

.toolbar{width:100%;height:39px;line-height:32px;color:silver;font-size:12px;padding:0 24px;}
.toolbar-inner{padding-right:24px;height:39px;}

.footer-inner{margin:0 32px;}

/* Remove border from Google Translate */

#google_translate_element .goog-te-gadget-simple{background:transparent;height:26px;line-height:26px;border-left:0;border-top:0;border-right:0;border-bottom:0;}
.goog-te-gadget-simple{background:transparent;height:26px;line-height:26px;border-left:0;border-top:0;border-right:0;border-bottom:0;}




.flag{height:16px;margin:0 8px 0 0;}
.flag-panel{height:32px;margin:11px 8px 0 0px;}


.action{height:40px;line-height:40px;padding:0 22px;margin-top:8px;overflow:hidden;}


/* Results item*/


ol.inner-results{padding:0;list-style-type:lower-alpha;}

.result-item{padding:0 24px;margin:0 0 4px 0;min-height:64px;overflow:hidden;}
.result-item:hover{padding:0 24px;margin:0 0 4px 0;background-color:#ededed;overflow:hidden;cursor:pointer;}
.result-item{font-size:12px;line-height:16px;}
.result-item a{font-size:13px;font-weight:bold;text-decoration:none;text-transform:uppercase;}


/* Buttons */


button{font-family:arial;font-size:12px;font-weight:bold;cursor:pointer;letter-spacing:-1px;text-transform:none;border-radius:3px;}

.sidebar-button{text-align:center;font-family:arial;font-size:13px;font-weight:bold;cursor:pointer;letter-spacing:-1px;text-transform:none;border-radius:3px;height:24px;min-width:96px;line-height:24px;padding:2px 4px;margin:8px 4px 0 0}




/* Tiny Scrollbar */
#scrollbar0 {margin:0; }
#scrollbar0 .viewport {overflow: hidden; position: relative; }
#scrollbar0 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar0 .scrollbar{ position: relative; width: 16px; margin:0 0 0 16px;  }
#scrollbar0 .track {height: 100%; width:16px; position: relative; padding: 0; }
#scrollbar0 .thumb {border-radius:8px 0 0 8px; height: 16px; width: 16px; cursor: move; overflow: hidden; position: absolute; top: 0; left: 0; }

#scrollbar0 .thumb .end { overflow: hidden; height: 1px; width: 16px; }
#scrollbar0 .disable { display: none; }




#scrollbar1 {margin:0; }
#scrollbar1 .viewport {overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ position: relative; width: 16px; margin:0 0 0 16px;  }
#scrollbar1 .track {height: 100%; width:16px; position: relative; padding: 0; }
#scrollbar1 .thumb {border-radius:8px 0 0 8px; height: 16px; width: 16px; cursor: move; overflow: hidden; position: absolute; top: 0; left: 0; }

#scrollbar1 .thumb .end { overflow: hidden; height: 1px; width: 16px; }
#scrollbar1 .disable { display: none; }

#scrollbar2 {margin:0; }
#scrollbar2 .viewport {overflow: hidden; position: relative; }
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar2 .scrollbar{ position: relative; width: 16px; margin:0 0 0 16px;  }
#scrollbar2 .track {height: 100%; width:16px; position: relative; padding: 0; }
#scrollbar2 .thumb {border-radius:8px 0 0 8px;height: 16px; width: 16px; cursor: move; overflow: hidden; position: absolute; top: 0; left: 0; }
#scrollbar2 .thumb .end { overflow: hidden; height: 1px; width: 16px; }
#scrollbar2 .disable { display: none; }





.left{float:left;}
.right{float:right;}
.clear-both{clear:both}
.hidden{display:none;}

.white{color:white}



