


.strapline{
color:white;
text-shadow: 
  1px 1px  0px #b57600
;}

.header-inner{
text-shadow: 
  1px 1px  0px #903d0f,1px 1px 0px #b57600,
  2px 2px 0px #903d0f,-2px -2px 0px #903d0f,
  -3px 3px  0px #903d0f,  -3px 3px  0px #903d0f,
rgba(0,0,0,0.1) 0 0 1px
  /*3px 3px  0px #ffffff,4px 4px 0px #903d0f,8px 8px 0px #903d0f,-8px 8px 0px #903d0f,8px -8px 0px #903d0f,
  -8px 0  0 #903d0f,8px 0  0 #903d0f,4px 4px 0px #903d0f,
  -1px -4px  0 #903d0f,-4px -2px #b57600,
  -4px -4px 0px #b57600
  0px 0px 64px #903d0f,*/
;}

.emphasis{
margin-right:4px;
color:#efefef;
color: -moz-linear-gradient(60deg, #e6af4a 0%, #ffffff 35%, #dfa63b 100%); /* FF3.6+ */
color:-webkit-linear-gradient(-60deg, #e6af4a 0%,#e6af4a 60%,#dfa63b 100%);
color: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b6bee8), color-stop(100%,#6c7bd0)); /* Chrome,Safari4+ */
text-shadow: 
  1px 1px  0px #b57600,1px 1px 0px #903d0f,
  2px 2px 0px #903d0f,-2px -2px 0px #903d0f,
  -3px 3px  0px #903d0f,  -3px 3px  0px #903d0f,
rgba(0,0,0,0.1) 0 0 1px
  /*3px 3px 0px #903d0f,-3px -3px 0px #903d0f,-3px 3px 0px #903d0f,3px -3px 0px #903d0f,3px 0 0px #903d0f,-3px 0 0px #903d0f,0 3px 0px #903d0f,0 -3px 0px #903d0f,
  4px 4px 0px #903d0f,-4px -4px 0px #903d0f,-4px 4px 0px #903d0f,4px -4px 0px #903d0f,4px 0 0px #903d0f,-4px 0 0px #903d0f,0 4px 0px #903d0f,0 -4px 0px #903d0f,
  5px 5px 0px #903d0f,-5px -5px 0px #903d0f,-5px 5px 0px #903d0f,5px -5px 0px #903d0f,5px 0 0px #903d0f,-5px 0 0px #903d0f,0 5px 0px #903d0f,0 -5px 0px #903d0f,
  6px 6px 0px #903d0f,-6px -6px 0px #903d0f,-6px 6px 0px #903d0f,6px -6px 0px #903d0f,6px 0 0px #903d0f,-6px 0 0px #903d0f,0 6px 0px #903d0f,0 -6px 0px #903d0f
  0px 0px 64px #903d0f,*/
;}

.de-emphasis{
font-size:1.5em;
color:#808dd6;
text-shadow: 
  -1px -1px 0px #fff,1px 1px  0px #dadef3,-2px -2px 1px #dadef3,
  -6px -6px  0px #808dd6,4px 4px 4px #6c7bd0,
  -12px 0  0px #808dd6,4px 4px 4px #808dd6,
  -1px -4px  1px #6c7bd0,-4px -2px #6c7bd0,8px 8px 16px #6c7bd0,
  0px 0px 64px #ffffff
;}



#header-home{
background: #b6bee8; /* Old browsers */
background: -moz-linear-gradient(60deg, #e6af4a 0%, #fedfa4 35%, #dfa63b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b6bee8), color-stop(100%,#6c7bd0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-60deg, #e6af4a 0%,#fedfa4 35%,#dfa63b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* IE10+ */
background: linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6bee8', endColorstr='#6c7bd0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#strapline-home{
text-align: center;
border-top: 1px solid white;
background: #b6bee8; /* Old browsers */
background: -moz-linear-gradient(60deg, #e6af4a 0%, #e6af4a 35%, #dfa63b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b6bee8), color-stop(100%,#6c7bd0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-60deg, #e6af4a 0%,#e6af4a 60%,#e6af4a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* IE10+ */
background: linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6bee8', endColorstr='#6c7bd0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#content-home{
background: #b6bee8; /* Old browsers */
background: -moz-linear-gradient(-60deg, #b6bee8 30%, #6c7bd0 50%, #6c7bd0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b6bee8), color-stop(100%,#6c7bd0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-60deg, #b6bee8 30%,#6c7bd0 50%,#6c7bd0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* IE10+ */
background: linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6bee8', endColorstr='#6c7bd0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



#header{
background: #b6bee8; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e6af4a 0%, #fedfa4 33%, #dfa63b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b6bee8), color-stop(100%,#6c7bd0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #e6af4a 0%,#fedfa4 33%,#dfa63b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* IE10+ */
background: linear-gradient(-45deg, #b6bee8 0%,#6c7bd0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6bee8', endColorstr='#6c7bd0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border-bottom:1px solid white;

}



#header2{
background: #ffffff;
background-color:#ffffff;
border-bottom:1px solid white;
background-color:#efefef;

box-shadow:3px 0 6px #bdbdbd;
-webkit-box-shadow:3px 0 6px #bdbdbd;
behavior: url(includes/css/PIE.htc);



background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

#panel{
background: #ffffff;
background-color:#ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#ffffff', startColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.panel-header{

border-top:0;
background: #ffffff;
background-color:#ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#ffffff', startColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.homepage-infobox{
text-align:left;
border-top:0;
background: #ffffff;
background-color:#ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#ffffff', startColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

#language-list{
box-shadow:-5px 6px 12px #000000;
background: #ffffff;
background-color:#ffffff;
border:1px solid gainsboro;
border-top:0;
}

#country-list{
box-shadow:-5px 6px 12px #000000;
background: #ffffff;
background-color:#ffffff;
border:1px solid gainsboro;
border-top:0;
}

#destination-list{
box-shadow:-5px 6px 12px #000000;
background: #ffffff;
background-color:#ffffff;
border:1px solid gainsboro;
border-top:0;
}

#country_selector1{
border-radius:0 0 16px 16px;
box-shadow:3px 0 6px #bdbdbd;
background: #ffffff;
background-color:#ffffff;
background: -moz-linear-gradient(bottom, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(bottom, #ffffff 0%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#ffffff', startColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}





